body {
    background-image: url("../images/spaceBG.png");
    background-color: black;
    /* background-repeat: no-repeat;
    background-size: cover; */
    color:  rgb(255, 251, 36);
}

.container {
    max-width: 960px;
    /* margin-top: 20px; */
}

h3{
    color: black;
    text-shadow: 2px 2px 10px #111111;
}

.jumbotron{
    color:  rgb(214, 201, 11);
    text-align: center;
    background-color: rgba(119, 0, 0, 0.781);
}

h1{
    color: red;
    text-shadow: 2px 2px 10px #111111;
}

#again{
    color: black;
}

/*
* Custom translucent site header
*/

.site-header {
    background-color: rgba(0, 0, 0, 0.74);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: rgb(255, 251, 36);
    transition: ease-in-out color .15s;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.gameinfo-header {
    background-color: rgba(124, 124, 124, 0.719);
    color: rgb(255, 251, 36);
    margin-bottom: 20px;
}

.gameinfo-header a {
    transition: ease-in-out color .15s;
}
.gameinfo-header a:hover {
    color: #fff;
    text-decoration: none;
}


.padColumn{
    background-color: rgba(137, 43, 226, 0.726);

}