@font-face {
    font-family: DK_Crayon;
    src: url(../fonts/DK_Crayon_Crumble.ttf);
  }

body {
    background-image: url("../images/chalkboard.jpg");
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(211, 211, 211);
    text-shadow: 2px 2px 10px #111111;
}

#questionBoard{
    font-family: "DK_Crayon", "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: rgb(238, 241, 23);
}

#timer{
    color: #0dee20ea;
    font-weight: bold;
    font-size: 20px;
}
.answer{
    width: 250px !important;
}

#welcome{
    text-shadow: 2px 2px 10px #111111;
    
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
-webkit-appearance: none;  /* Override default CSS styles */
appearance: none;
width: 70%; /* Full-width */
height: 5px;
background: #ffffff;
outline: none;
opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
-webkit-transition: .2s;
transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
-webkit-appearance: none; /* Override default look */
appearance: none;
width: 25px; /* Set a specific slider handle width */
height: 25px; /* Slider handle height */
background: rgb(255, 232, 21); /* Green background */
border: 1px solid black;
cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
width: 25px; /* Set a specific slider handle width */
height: 25px; /* Slider handle height */
background: #4CAF50; /* Green background */
cursor: pointer; /* Cursor on hover */
}

#footerNav{
    position: fixed;
    bottom: 0;
    z-index: 100;
    max-width: 100%;
}

#footer{
    background-color: rgba(255, 251, 0, 0.096);
	text-align: center;
	font-size: 10px;
}

@media screen and (max-width: 768px) {
    body {
        background-size: auto;
    }
    
    #imageStart {
        width: 220px;
    }

    h1 {
        font-size: 2rem;
    }

    #imageEnd{
        width: 120px;
    }

    h3 {
        font-size: 1.4rem;
    }
}